<header>
        <h1 class="m-title">Spare Parts</h1>
</header>

    

    <div class="description">
        <p>Spare Parts is your home for all information related to organ and fluid donation. This is the spot for data storage correlating specific parts with donors and their reason for donating.</p>
    </div>
    <!-- user validation start -->

    <div>
        <h2 class="login">Login</h2>
    </div>
{{>login}}

    <div>    
        <h2 class="register">Register</h2>
    </div>
{{>register}}


</br>
<section>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box has-background-black has-text-black">
            <h1 class="sub-head">How can Spare Parts help you?</h1>
        <div class="directions">
            <p>Not all donations are for science or research, some organ donations save lives. The Spare Parts
               database caters to those donating their bodies, the recipients of those donations, and the
               doctors and medical professionals gathering and utilizing the data. Though there are places to
               iquire about organ donation, Spare Parts is the only place that gathers all parties involved in
               the donation process.
            </p>
        </div>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box has-background-black has-text-black">
        <h1 class="donation-head">Donations</h1>
        
        <ol class="donation-list">
          {{#each donations as |donations|}}
            
            {{>donations-details}}
            
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</section>