* {
   font-family: monospace;
   color: white;
   background-color: black;
}

/* html {
    background: url(../images/anatomy.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; */
    /* filter: blur(3px); */
/* } */

/* .brain {
    height: 100px;
} */

.h-organs, .h-bio{
    font-size: 60px;
    text-align: center;
    font-weight: normal;
}

