* {
   font-family: monospace;
   color: white;
   background-color: black;
}

/* page description */
.page-description {
    padding: 50px 20px 50px 20px;
}

/* sub headers */
.h-organs, .h-bio{
    font-size: 60px;
    text-align: center;
    font-weight: normal;
}

/* tiles */
.tile {
    margin: 20px 20px 0 20px;
    font-size: 20px;
    text-align: center;
    
    
}

#b-fluids {
    padding-bottom: 100%;
}